.home {
  display: flex;
  flex-wrap: wrap;
}
.searchNews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Post{
  width: 100%;
} */
.search {
  /* border: 1px solid; */
  border-radius: 10px;
  height: 30px;
  width: 200px;
  margin-right: 15px;
}
